.cart-panel {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(10, 10, 10, 1);
  border: 2px solid #191919;
  border-radius: 10px;
  overflow: hidden;
  color: inherit;
  cursor: pointer;
  transition: 0.2s;
}

.cart-panel:hover {
  border-color: #9D9D9D; /* чуть светлее при наведении */
}

.cart-panel .cart-count {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 14px;
  font-weight: bold;
  pointer-events: none;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
}
